<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/style.css">

<body>
        <div class="container">
                <img id="love-heart-img" src="https://weddingappsteveroe.s3.us-east-2.amazonaws.com/hands-2.png" alt="love-heart-img" />
                <div class="success-message">
                        <h2>You're invited to our wedding.</h2>
                        <div class="wrapper">
                        <button type="submit"><a href="/add-guest" class="rsvp"><span>RSVP</span>
                        </a></button>
                        </div>
                </main>
                        
        </div>
        

<%- include('../includes/end.ejs') %>