<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/success.css">

<body>
        <div class="background">
                <img id="love-heart-img" src="/images/hands-2.png" alt="love-heart-img" />
                <div class="success-message">
                        <h2>You're invited to our wedding.</h2>
                        <button class="btn" id="rsvp-button" type="submit"><a href="/add-guest">RSVP
                        </a></button>
                        
                </main>
                        
        </div>
        

<%- include('../includes/end.ejs') %>