@media only screen and (max-width: 600px) {
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Quicksand', sans-serif;

}


.background {
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container {
    position: absolute;
    top: 25px;
    width: 38%;
    text-align: center;
}

.header-container h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6em;
}


.card {
    height: 50vh;
    background: rgba(255, 255, 255, 0.4);
    width: 65vw;
    text-align: center;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5%;
}

.card h2 {
    padding: 0;
    color: rgb(163, 113, 162)
}

.form-container {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-button {
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.form-el {
    padding-bottom: 10%;
    font-size: 1.3rem;
    text-align: left; 
}


.form-el input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(241, 174, 171);
    width:100%;
    box-sizing:border-box;
    padding: 2%;
    font-size: 1rem;
    color: rgb(163, 113, 162);
    background: none;
 
}

.form-el input:focus {
    border-color: rgb(163, 113, 162);
    color: rgb(241, 174, 171);
}

.form-button button {
    font-size: 1.5rem;
    background: white;
    color: rgb(241, 174, 171);
    padding: 4%;
    border-radius: 50%;
    text-align: center;
    margin-top: 4%;
    width: 20%;
}

#love-heart-img-inv {
    padding: 5%;
    border-radius: 20%;
    width: 300px;
}

.btn-add {
    background: rgb(241, 174, 171);
    border: none;
}

/* .btn-add i {
    color: white;
} */

}

@media only screen and (min-width: 600px) {

    body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        font-family: 'Quicksand', sans-serif;
    
    }
    
    
    .background {
        position: relative;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .header-container {
        position: absolute;
        top: 25px;
        width: 38%;
        text-align: center;
    }
    
    .header-container h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 1.6em;
    }
    
    
    .card {
        height: 50vh;
        background: rgba(255, 255, 255, 0.4);
        width: 65vw;
        text-align: center;
        padding: 5px;
        border: 1px solid white;
        border-radius: 5%;
    }
    
    .card h2 {
        padding: 0;
        color: rgb(163, 113, 162)
    }
    
    .form-container {
        height: 45%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .form-button {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    
    }
    
    .form-el {
        padding-bottom: 10%;
        font-size: 1rem;
        text-align: left; 
    }
    
    
    .form-el input {
        outline: 0;
        border-width: 0 0 2px;
        border-color: rgb(241, 174, 171);
        width:100%;
        box-sizing:border-box;
        padding: 2%;
        font-size: 1rem;
        color: rgb(163, 113, 162);
        background: none;
     
    }
    
    .form-el input:focus {
        border-color: rgb(163, 113, 162);
        color: rgb(241, 174, 171);
    }
    
    .form-button button {
        font-size: 1.5rem;
      
        color: rgb(241, 174, 171);
        padding: 1%;
        border-radius: 50%;
        text-align: center;
        margin-top: 4%;
        width: 45px;
    }
    
    #love-heart-img-inv {
        padding: 5%;
        border-radius: 20%;
        width: 300px;
    }

    .btn-add {
        background: rgb(241, 174, 171);
        border: none;
    }
    
    .btn-add i {
        color: white;
    }
    
    
    }



@media only screen and (min-width: 992px) {

    body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        font-family: 'Quicksand', sans-serif;
    
    }
    
    
    .background {
        position: relative;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .header-container {
        position: absolute;
        top: 25px;
        width: 38%;
        text-align: center;
    }
    
    .header-container h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 1.6em;
    }
    
    
    .card {
        height: 50vh;
        background: rgba(255, 255, 255, 0.4);
        width: 65vw;

        text-align: center;
        padding: 5px;
        border: 1px solid white;
        border-radius: 5%;
    }
    
    .card h2 {
        padding: 0;
        color: rgb(163, 113, 162)
    }
    
    .form-container {
        height: 45%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .form-button {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    
    }
    
    .form-el {
        padding-bottom: 10%;
        font-size: 1rem;
        text-align: left; 
    }
    
    
    .form-el input {
        outline: 0;
        border-width: 0 0 2px;
        border-color: rgb(241, 174, 171);
        width:100%;
        box-sizing:border-box;
        padding: 2%;
        font-size: 1rem;
        color: rgb(163, 113, 162);
        background: none;
     
    }
    
    .form-el input:focus {
        color: rgb(241, 174, 171);
    }
    
    .form-button button {
        font-size: 1.5rem;
  
        color: rgb(241, 174, 171);
        padding: 1%;

        text-align: center;
        margin-top: 4%;
        width: 50px;
    }
    
    #love-heart-img-inv {
        padding: 1%;
        border-radius: 20%;
        width: 300px;
    }
    
    
    
    }



