@media only screen and (max-width: 600px) {
    .container {
        padding-top: 20px;
    }

    .error-message {
        padding: 1%;
        padding-bottom: 1%;
    }
}

@media only screen and (min-width: 600px) {
    .container {
        padding-top: 80px;
    }

    .error-message {
        padding: 2%;
        padding-bottom: 2%;
    }
}


body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.container {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   

 
}

#love-heart-img {
    margin: 0 auto;
    width: 300px;
}

.container h2, .container h3 {
    text-align: center;
}

.wrapper{
    text-align: center;
  }

  button {
      border: none;
      background: white;
  }

  .send {
    width: 100px;
  }

  .rsvp {
      width: 200px;
  }

  .email-us {
      width: 250px;
  }
  
  a{
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;

    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(255, 199, 157);
    transition: all .35s;
  }
  
  a:hover{
    color: #fff;
  }
  
  a:hover:after{
    width: 100%;
  }




  .form-container {
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}

.form-button {
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.form-el {
    padding-bottom: 10%;
    font-size: 1rem;
    text-align: left; 
}


.form-el input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(241, 174, 171);
    width:100%;
    box-sizing:border-box;
    padding: 2%;
    font-size: 1rem;
    color: rgb(163, 113, 162);
    background: none;
 
}

.form-el input:focus {
    color: rgb(241, 174, 171);
    border-color: rgb(163, 113, 162);
}

.form-button button {
    font-size: 1.5rem;

    color: rgb(241, 174, 171);
    padding: 1%;

    text-align: center;
    margin-top: 4%;
    width: 50px;
}

.error-message {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    background: rgba(255, 0, 0, 0.7);
    border: 5px solid red;
}
